[submodule "ffMetadataEx"]
	path = ffMetadataEx
	url = https://github.com/vkannantech/MUZI-ffMetadataEx.git
[submodule "media"]
	path = media
	url = https://github.com/vkannantech/MUZI-media.git
[submodule "taglib"]
	path = taglib
	url = https://github.com/vkannantech/MUZI-taglib.git
