[submodule "ffMetadataEx"]
	path = ffMetadataEx
	url = https://github.com/Muzi-Powered-by-KannanTech/MUZI-ffMetadataEx.git
[submodule "media"]
	path = media
	url = https://github.com/Muzi-Powered-by-KannanTech/MUZI-media.git
[submodule "taglib"]
	path = taglib
	url = https://github.com/Muzi-Powered-by-KannanTech/MUZI-taglib.git
